
{% extends "base.html.twig" %}

{% block title %}ADS{% endblock %}

{% block body %}



<div class="jumbotron text-center">

    <h1> Agence du Soleil </h1>
    <p>
        Trouvez le bien immobilier idéal sous le soleil et à travers le vent poignant de province,  avec les annonces de location ou de vente du réseau d'agences immobilières Agence du Soleil


     </p>


</div>

<div class="container">
    <h2>Les derniers biens</h2>
            
            <div class="row flex">
                {%  for property in properties   %}

                        <div class="col-3">
                                <div class="card"> 
                                    <div class="card-body"> 
                                        <h5 class="card-title"> 

                                    <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}"> {{ property.title}}   </a>

                                    <p class ="card-text"> {{property.city}} ({{property.postalCode}})            </p>

                                    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">      {{property.formatedPrice}}     €       </div>
                                    
                                    </h5>
                                </div>
                             </div>
                        </div>


                {% endfor %}

            </div>

</div>



{% endblock %}

